.button {
  appearance: none;
  border: none;
  background-color: $main-cyan;
  color: $main-black;
  @include font(15px, 21px, 600, normal);
  border-radius: $form-radius;
  min-height: 51px;
  width: 100%;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    transition: $trans--300;
    color: $main-white;
  }
}
