.feedback {

  @media (min-width: $desktop-width) {
    position: absolute;
    right: calc((100vw - 880px)/2);
    top: 318px;
  }

  @media (max-width: $tablet-width) {
    padding: 70px 16px 35px;
  }
}

.feedback__form {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 326px;
  padding-top: 5px;

  @media (max-width: $tablet-width) {
    display: flex;
    width: 321px;
    margin: 0 auto;
    padding-top: 0;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }

  p {
    @include font(17px, 28px, 600, normal);
    color: $main-white;
    margin: 0;
    padding-bottom: 20px;

    @media (max-width: $tablet-width) {
      color: $main-black;
      @include resize-txt(18px, 28px);
      padding-bottom: 30px;
    }

    @media (max-width: $mobile-width) {
      padding-bottom: 20px;
    }
  }

  input {
    @include font(15px, 24px, 300, normal);
    margin-bottom: 20px;
    min-height: 48px;
    border: 1px solid $border-color;
    border-radius: $form-radius;
    padding-left: 30px;

    @media (max-width: $tablet-width) {
      padding-left: 21px;
    }

    @media (max-width: $mobile-width) {
      padding-left: 21px;
    }

    &::placeholder {
      @include font(15px, 24px, 300, normal);
      color: $placeholder-color;
    }

    &:hover,
    &:focus-visible {
      transition: $trans--300;
      border-color: transparent;
      box-shadow: 0px 0px 0px 3px $main-cyan inset;
    }
  }
}
