.video,
.video__preview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  width: 100%;
  min-height: 804px;
  background: linear-gradient(180deg, $dark-blue 706px, $main-white 706px);
  justify-content: flex-end;

  @media (max-width: $tablet-width) {
    background: linear-gradient(180deg, $dark-blue 413px, $main-white 413px);
    min-height: 498px;
    padding: 0 16px;
  }

  @media (max-width: $mobile-width) {
    background: linear-gradient(180deg, $dark-blue 384px, $main-white 384px);
    min-height: 433px;
    justify-content: flex-start;
    padding: 84px 16px 0;
  }
}

.video__content {
  width: 430px;
  text-align: center;

  @media (max-width: $tablet-width) {
    width: 503px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }

  h2 {
    color: $main-white;
    padding: 40px 20px 20px;

    @media (max-width: $tablet-width) {
      @include resize-txt(24px, 30px);
    }

    @media (max-width: $mobile-width) {
      padding: 0 0 20px 0;
    }
  }

  p {
    @include font(16px, 28px, 300, normal);
    color: $main-white;
    margin: 0;
    padding: 0 20px 56px;
    letter-spacing: -0.5px;

    @media (max-width: $tablet-width) {
      padding: 0 20px 40px;
    }

    @media (max-width: $mobile-width) {
      padding: 0 0 53px;
      letter-spacing: -.5px;
    }
  }
}

.video__content-shift-md,
.video__content-shift-lg {
  display: none;
}

.video__content-shift-lg {
  @media (min-width: $desktop-width) {
    display: block;
  }
}

.video__content-shift-md {
  @media (min-width: 768px) and (max-width: $tablet-width) {
    display: block;
  }
}

.video__preview {
  justify-content: center;
  width: 929px;
  height: 522px;
  margin: 0 auto;
  background: url("../img/video-preview-img-lg.jpg") no-repeat, $background-video;
  background-size: cover;

  @media (max-width: $tablet-width) {
    width: 503px;
    height: 282px;
  }

  @media (max-width: $mobile-width) {
    margin-top: auto;
    width: 100%;
    height: 50.8vw;
  }
}

.video__btn {
  width: 65px;
  height: 65px;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: $main-cyan;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) and (max-width: $tablet-width) {
    width: 90px;
    height: 90px;
  }

  svg {
    margin-left: 5px;

    @media (min-width: $min-width) and (max-width: $mobile-width), (min-width: $desktop-width) {
      width: 13px;
      height: 18px;
    }

    @media (max-width: $mobile-width) {
      margin-top: 4px;
    }
  }

  &:hover,
  &:focus-visible {
    transition: $trans--300;
    background-color: cyan;
  }

  &:active {
    opacity: 0.7;
  }
}
