// Color

$main-cyan: #0ad9c6;
$main-black: #000000;
$main-white: #ffffff;
$border-color: #c9ccd4;
$placeholder-color: rgba(28, 28, 28, .5);
$color-transparent-menu: rgba(255, 255, 255, .2);
$dark-gray: #1f1f1f;
$bcg-type: #f6f7f9;
$dark-blue: #131314;

// Gradient



// Radius

$form-radius: 6px;

// Viewports

$min-width: 320px;
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;

//fonts

$font-opensans: "Open Sans", "Arial", sans-serif;

//transition
$trans--300:  0.3s ease-in-out;

//retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
